.empty-list{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 20px 0;
    .fas{
        font-size: 3rem;
        display: block;
        margin-bottom: 1rem;
    } 
}