@import "./scss/variable.scss";


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  transition: all .2s;
  &.light{
    background-color: $light-bg;
    color: $light-txt;
      a{
        color: $light-txt;
        &:hover{
          color: $light-txt;
      }
      input{
        color: $light-txt; 
      }
    }
    .todo-list{
      box-shadow: 2px 3px 5px  rgba(0,0,0,0.2)!important;
    }
    .add-item-wrapper{
      box-shadow: 2px 3px 5px  rgba(0,0,0,0.2)!important;
    }

  }
  &.dark{
    background-color: $dark-bg;
    color: $dark-txt;
    .todo-list{
      box-shadow:0 22px 20px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(256, 256, 256, 0.3)!important;
    }
    .add-item-wrapper{
      box-shadow:0 22px 20px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(256, 256, 256, 0.3)!important;
      .dropdown .btn{
        border-right-color: #555; 
      }
    }
    .dropdown-menu{
      background-color: #303030;
      color: $dark-txt!important;
      border: 1px solid rgba(256, 256, 256, 0.2);
    }
    input{
      color: $dark-txt; 
    }
  }
}


